.convert-pdf-to-pdfa-container {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.action-buttons {
  margin-top: 20px;
}

.convert-button,
.download-button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.convert-button {
  background-color: #007bff;
}

.convert-button:hover {
  background-color: #0056b3;
}

.download-button {
  background-color: #28a745;
}

.download-button:hover {
  background-color: #218838;
}
